.wrapper{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    /* box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 10%), -1px -1px 2px rgb(0 0 0 / 8%) */
    box-shadow: 0 4px 9px rgb(0 0 0 / 40%);
}
.heading{
    color: #094242;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 500;
}
.cardHeading{
    font-weight: 500;
}

.shorten{
    margin-left: 15px;
    margin-right: 10px;
}
.card{
    border-radius: 8px;
    border: 1.5px solid #d0cccc;
}

input{
    width: 45vw;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: 1.5px solid #d0cccc;
}
input:focus{
    border: 1.7px solid #188de0;
}
.result{
    margin-top: 10px;
    width: 50vw;
}
.shorturl{
    color: #005555;
}
@media (max-width: 400px){
    input{
        width: 95vw;
    }
    .result{
        width: 95vw;
    }
    .shorten, .reset{
        margin-top: 15px;
    }
    .shorten{
        margin-left: 0;
    }


}
